<p>
  pro-bind works!
</p>

 <!--Text box with attribute-->
<input type="text" value="Vinayak"><br>

  <!--Hardcoded attribute-->
  <input type="text" id = "1" value="Vinayak">
  <br>

  <!-- Text box with attribute and property binding-->
  <input type="text" [id] = "MarvellousID" value="Marvellous">
  <br>

   <!-- Property binding as string interpolation-->
  <!-- String interpolation only works with string attributes-->
  <input type="text" id = "{{MarvellousID}}" value="Marvellous">
  <br>


   <!--Text box with disabled attribute -->
   <input type="text" disabled = "true" value="Marvellous">
   <br>
   
 <!--Text box with disabled attribute with property binding-->
<input type="text" [disabled]="isSet" value="Vinayak">
<h1>{{name}}</h1>